@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'src/shared/constants';
@mixin text-base {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $blue;
}

.header {
    @include text-base();
    @media(max-width: $mobile-width-small) {
        font-size: 20px;
    }
}

.paragraph {
    @include text-base();
    @media(max-width: $mobile-width) {
        font-size: 12px;
    }
}

.white {
    color: $white;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}