@import "src/shared/styles";

@mixin text-base {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: $blue;
}

@mixin header-base {
  margin: 0;
  font-family: "Alegreya", serif !important;
  color: $blue;
}

.mainHeader {
  @include header-base();
  @media (max-width: $mobile-width-small) {
    font-size: 20px;
  }
}

.big {
  @include text-base();
  @media (max-width: $mobile-width-small) {
    font-size: 20px;
  }
}

.small {
  @include text-base();
  @media (max-width: $mobile-width) {
    font-size: 12px;
  }
}

.middle {
  @include text-base();
  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.white {
  color: $white;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.red {
  color: $red;
}
