@import 'src/shared/styles';
.nextMatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .match {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $content-width;
        border: 1px solid $blue;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;
        min-width: $content-min-width;
        background-color: $blue;
    }
}