@import "src/constants/styles";

.nextMatch {
  @include full-centered-column;

  .match {
    @include content-width;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $blue;
    border-radius: $borderRound;
    padding: 1rem;
    margin: 1rem;
    background-color: $blue;
  }

  .nextTeams {
    margin-bottom: 0.5rem;
  }

  .friendlyMatch {
    margin-top: 0.5rem;
  }
}
