$blue: #003049;
$yellow: #ffd60a;
$red: #e94f37;
$white: white;
$green: #38b000;
$mobile-width: 560px;
$mobile-width-small: 340px;
$content-min-width: 15rem;
$content-width: 40%;
$borderRound: 0.3rem;