@import "src/constants/styles";

.matchPlan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .showMatchPlanWrapper {
    width: $content-width;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  $triangleSize: 20px;
  .triangleIcon {
    width: 0;
    height: 0;
    border-left: $triangleSize solid transparent;
    border-right: $triangleSize solid transparent;
    border-radius: 3px;
  }

  .arrowDown {
    border-top: $triangleSize solid $blue;
  }

  .arrowUp {
    border-bottom: $triangleSize solid $blue;
  }

  .matchPlanComplete {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
