@import "src/constants/styles";

.showMatchPlanButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .showMatchPlanButton {
    width: $content-width;
    min-width: $content-min-width;
    text-transform: uppercase;
    margin: 0.5rem;
    background-color: $white;
    border: 1px solid $blue;
    border-radius: $borderRound;
  }
}
