@import 'src/constants/styles';

.results-table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;

    .points {
        @include content-width;
        padding-right: 1rem;
        
        th {
            text-align: left;
        }
    }
}