@import 'src/constants/styles';

.categoryHeaderWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .categoryHeader {
        width: $content-width;
        min-width: $content-min-width;
        text-transform: uppercase;
        margin: 0.5rem;
    }
}